.introducao {
    background-image: url(../assets/images/Background_Intro.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
    justify-items: center;
    padding-top: 120px;

    /*Olhar uma forma mais facil de fazer isso*/
    p:nth-child(2) {
        font: var(--subtitle);
        
    }
    
    .detalhe-nome {
        color: var(--red);
    }

    h1 {
        font: var(--title-lg);
        
    }
    p:nth-child(4) {
        font: var(--text-sm);
        text-align: center;
        color: var(--gray-300);
        
    }
}

.apresentacao {
    width: 680px;
    justify-items: center;

}

.tecnologias {
    padding-top: 40px;

    li {
        font: var(--text-sm);
        color: var(--gray-200);
        background: var(--gray-400);
        padding: 8px 16px;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        gap: 8px;
        border-radius: 999px;
    }

    img {
        width: 24px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

}

.tecnologias ul {
    display: flex;
    gap: 16px;
    list-style: none;
    flex-wrap: wrap;

}