.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.subtitulo {
  font: var(--subtitle);
  color: var(--red);
  gap: 8px;
}

h2 {
  font: var(--title-md);
  color: var(--gray-100);
  padding-bottom: 32px;
}

h3 {
    color: var(--gray-100);
    font: var(--title-sm);
}

.p-cards {
  font: var(--text-sm);
  color: var(--gray-200);
}